[
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-abort.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "01 unit-core/test-abort.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-binary-operations-arithmetics.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "02 unit-core/test-api-binary-operations-arithmetics.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-binary-operations-comparisons.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "03 unit-core/test-api-binary-operations-comparisons.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-binary-operations-instanceof.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "04 unit-core/test-api-binary-operations-instanceof.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "05 unit-core/test-api.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-errortype.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "06 unit-core/test-api-errortype.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-functiontype.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "07 unit-core/test-api-functiontype.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-iteratortype.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "08 unit-core/test-api-iteratortype.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-objecttype.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "09 unit-core/test-api-objecttype.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-promise.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "10 unit-core/test-api-promise.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-property.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "11 unit-core/test-api-property.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-set-and-clear-error-flag.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "12 unit-core/test-api-set-and-clear-error-flag.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-strings.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "13 unit-core/test-api-strings.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-api-value-type.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "14 unit-core/test-api-value-type.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-arraybuffer.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "15 unit-core/test-arraybuffer.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-backtrace.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "16 unit-core/test-backtrace.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-bigint.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "17 unit-core/test-bigint.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-container.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "18 unit-core/test-container.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-context-data.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "19 unit-core/test-context-data.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-dataview.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "20 unit-core/test-dataview.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-date-helpers.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "21 unit-core/test-date-helpers.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-exec-stop.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "22 unit-core/test-exec-stop.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-external-string.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "23 unit-core/test-external-string.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-has-property.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "24 unit-core/test-has-property.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-internal-properties.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "25 unit-core/test-internal-properties.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-jmem.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "26 unit-core/test-jmem.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-json.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "27 unit-core/test-json.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-lit-char-helpers.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "28 unit-core/test-lit-char-helpers.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-literal-storage.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "29 unit-core/test-literal-storage.c",
        "no-results": true /* OOM after all UBs get corrected. */
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-mem-stats.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "30 unit-core/test-mem-stats.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-native-callback-nested.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "31 unit-core/test-native-callback-nested.c",
        "val-warn-harmless-function-pointers": false
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-native-instanceof.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "32 unit-core/test-native-instanceof.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-newtarget.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "33 unit-core/test-newtarget.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-number-to-int32.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "34 unit-core/test-number-to-int32.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-number-to-string.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "35 unit-core/test-number-to-string.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-objects-foreach.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "36 unit-core/test-objects-foreach.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-poolman.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "37 unit-core/test-poolman.c (SHORTENED)"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-promise.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "38 unit-core/test-promise.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-proxy.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "39 unit-core/test-proxy.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-regexp.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "40 unit-core/test-regexp.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-regression-3588.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "41 unit-core/test-regression-3588.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-resource-name.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "42 unit-core/test-resource-name.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-snapshot.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "43 unit-core/test-snapshot.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44 unit-core/test-stringbuilder.c (STUB, SPLIT INTO 15 CASES)"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-strings.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "45 unit-core/test-strings.c (SHORTENED)"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-string-to-number.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "46 unit-core/test-string-to-number.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-symbol.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "47 unit-core/test-symbol.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-to-integer.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "48 unit-core/test-to-integer.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-to-length.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "49 unit-core/test-to-length.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-typedarray.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "50 unit-core/test-typedarray.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-unicode.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "51 unit-core/test-unicode.c"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.1 unit-core/test-stringbuilder.c CASE 1",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=1"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.2 unit-core/test-stringbuilder.c CASE 2",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=2"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.3 unit-core/test-stringbuilder.c CASE 3",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=3"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.4 unit-core/test-stringbuilder.c CASE 4",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=4"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.5 unit-core/test-stringbuilder.c CASE 5",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=5"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.6 unit-core/test-stringbuilder.c CASE 6",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=6"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.7 unit-core/test-stringbuilder.c CASE 7",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=7"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.8 unit-core/test-stringbuilder.c CASE 8",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=8"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.9 unit-core/test-stringbuilder.c CASE 9",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=9"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.10 unit-core/test-stringbuilder.c CASE 10 (SHORTENED)",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=10"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.11 unit-core/test-stringbuilder.c CASE 11",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=11"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.12 unit-core/test-stringbuilder.c CASE 12",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=12"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.13 unit-core/test-stringbuilder.c CASE 13",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=13"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.14 unit-core/test-stringbuilder.c CASE 14",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=14"
    },
    {
        "compilation_database": [ "compile_commands.json" ],
        "files": [ "tests/unit-core/test-stringbuilder.c" ],
        "include": [ "trustinsoft/common.config" ],
        "name": "44.15 unit-core/test-stringbuilder.c CASE 15",
        "compilation_cmd": "-DTIS_STRINGBUILDER_CASE=15"
    }
]
