[
    {
        "address-alignment": 64,
        "compilation_cmd": " -I . -I jerry-core/jmem -I jerry-core/debugger -I jerry-core/jcontext -I jerry-core/ecma/base -I jerry-core/ecma/operations -I jerry-core/ecma/builtin-objects -I jerry-core/ecma/builtin-objects/typedarray -I jerry-core/jrt -I jerry-core/lit -I jerry-core/parser/js -I jerry-core/parser/regexp -I jerry-core/api -I jerry-core/include -I jerry-core -I jerry-core/vm -I jerry-port/default/include ",
        "compilation_database": [
            "build/compile_commands.json"
        ],
        "files": [
            "tests/unit-core/test-abort.c",
            "tis/stub.c",
            "jerry-port/default/default-date.c",
            "jerry-core/api/jerry.c",
            "jerry-core/ecma/base/ecma-init-finalize.c",
            "jerry-core/ecma/builtin-objects/ecma-builtins.c",
            "jerry-core/jmem/jmem-allocator.c",
            "jerry-core/ecma/base/ecma-gc.c",
            "jerry-core/ecma/operations/ecma-jobqueue.c",
            "jerry-core/ecma/operations/ecma-lex-env.c",
            "jerry-core/jmem/jmem-heap.c",
            "jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c",
            "jerry-core/ecma/base/ecma-helpers.c",
            "jerry-core/ecma/base/ecma-alloc.c",
            "jerry-core/ecma/builtin-objects/ecma-builtin-global.c",
            "jerry-core/jmem/jmem-poolman.c",
            "jerry-core/ecma/base/ecma-helpers-value.c",
            "jerry-core/lit/lit-strings.c",
            "jerry-core/ecma/base/ecma-helpers-string.c",
            "jerry-core/lit/lit-magic-strings.c",
            "jerry-core/ecma/operations/ecma-function-object.c",
            "jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c",
            "jerry-core/ecma/operations/ecma-objects.c",
            "jerry-core/ecma/base/ecma-lcache.c",
            "jerry-core/ecma/operations/ecma-array-object.c",
            "jerry-core/parser/js/js-parser.c",
            "jerry-core/parser/js/js-parser-mem.c"
        ],
        "machdep": "gcc_x86_64",
        "name": "unit-core/test-abort.c"
    }
]